body {
    font-family: 'Poppins', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
}
header {
    background: #f6f6f6;
    padding: 22px 0;
}
.header-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-container a{
    color: #000;
    font-size: 16px;
    margin-right: 61px;
    padding: 27px 10px 30px 9px;
}
.header-container a:hover,
.lower-menu-container a:hover{
    background: #ffea00;
}
#menu-checkbox {
    display: none;
}
ul{
    display: flex;
}
nav {
    margin-top: 20px;
}
.top-slide {
    background: no-repeat url(img/slider_bg.jpg);
    background-position: 50% 0;
    padding-top: 123px;
    padding-bottom: 300px;
}
.top-container {
    width: 85%;
    margin: 0 auto;
}
.top-slide h2 {
    background: #ffea00;
    display: inline;
    font-size: 70px;
    padding: 0 13px;
}
.top-slide :nth-child(2) {
    margin-bottom: 10px;
}
.top-slide p {
    background: #414146;
    display: inline;
    padding: 0 6px;
    font-size: 24px;
    color: #f6f6f6;
}
.specialize-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.specialize-container h3 {
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 90px;
}
.specialize-container p {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
}
p.first-p {
    font-size: 16px;
    color: #f6f6f6;
}
.top-card{
    width: 250px;
    height: 200px;
}
.middle-card{
    width: 250px;
    height: 35px;
    background: #ffea00;
    font-size: 20px;
    padding: 5px 0;
    margin-top: -45px;
}
.first-card .top-card{
    background:  url("img/bog-post-icon.jpg") no-repeat 50% 40%;
}
.second-card .top-card {
    background: #ffea00 url("img/web-development.png") no-repeat 50% 40%;
}
.third-card .top-card{
     background: #ffea00 url("img/web-design-icon.png") no-repeat 50% 40%;
}
.fourth-card .top-card{
    background: #ffea00 url("img/graphic-design-icon.png") no-repeat 50% 40%;
}
.bottom-card {
    background: #414146;
    position: relative;
    top: -20px;
}
.specialize-cards {
    display: flex;
    justify-content: space-between;
}
.portfolio,
.brand-slider{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.portfolio h4,
.brand-slider h4{
    background: #424147;
    padding: 9px 30px;
    font-size: 18px;
    display: inline-block;
    color: #ffea00;
    margin-bottom: 33px;
}
.portfolio p,
.brand-slider p{
    font-size: 16px;
    color: #424146;
}
.toggles button {
    background: none;
    border: none;
    color: #424146;
    cursor: pointer;
    font-size: 16px;
    margin: 24px 5px 34px 5px;
}
.toggles button:after {
    content: ' / ';
}
.toggles button:last-child:after {
    content: '';
}
.posts {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
}
.post img {
    width: 260px;
    margin: 0 20px;
}
.brand-slider {
    margin-bottom: 120px;
}
.brand-slider h4 {
    margin-top: 40px;
}
.brand-slider p {
    margin-bottom: 40px;
}
.owl-carousel {
    display: flex;
    justify-content: space-around;
}
footer {
    background: #414146;
    padding: 30px 60px;
    color: #ffffff;
}
.footer-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 35% 36% 21%;
    grid-column-gap: 2%;
}
.footer-container h4 {
    margin-bottom: 10px;
    font-size: 18px;
}
.footer-container .abous-us a {
    display: inline-block;
    background: #000000;
    color: #ffffff;
    font-size: 15px;
    padding: 16px 18px 12px 18px;
    margin-top: 31px;
    margin-bottom: 44px;
    border-bottom: 2px solid #ffea00;
}
.images {
    margin-top: 10px;
}
.tweets p{
    margin-bottom: 30px;
    font-size: 13px;
}
.tweets span {
    color: #ffea00;
}
.social-connect h4,
.social-connect p{
    display: inline-block;
}
.social-connect img{
    margin: 0 2px 0 0;
}
.contacts .item{
    position: relative;
    font-size: 13px;
    padding-left: 35px;
    margin-bottom: 7px;
}
.contacts .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 32px;
}
.item span {
    color: #ffea00;
}
.contact-data{
    margin-bottom: 48px;
}
.contacts p{
    font-size: 13px;
}
.lower-menu{
    background: #000;
    padding: 10px 0;
}
.lower-menu-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.lower-menu-container a{
    color: #ffffff;
    font-size: 16px;
    margin-right: 61px;
    padding: 27px 10px 30px 9px;
}
@media screen and (max-width: 420px) {
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu {
        display: none;
    }
    .main-menu li {
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a {
        display: block;
        padding: 8px;
    }
    .toggle-button {
        text-align: center;
        display: block;
        margin-top: 25px;
        cursor: pointer;
        color: #000;
    }
    .toggle-button:after {
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu {
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
        content: attr(data-close);
    }
    .header-container a {
        margin-right: -85px;
    }
    .main-menu {
        position: relative;
        top: 30px;
        right: 85px;
    }
    .top-slide {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .top-slide h2 {
        font-size: 32px;
    }
    .top-slide p {
        font-size: 16px;
    }
    .specialize-container p {
        font-size: 16px;
    }
    .specialize-container h3 {
        margin-top: 10px;
    }
    .specialize-cards {
        display: flex;
        flex-direction: column;
    }
    .bottom-card {
        width: 250px;
        margin: 0 auto;
    }
    .posts {
        grid-template-columns: auto
    }
}